$main-color: #157946;
$secondary-color: #ec1b24;

$light-color: white;
$dark-color: #000000;



/* ========================================================
======================= Transitions =======================
========================================================= */

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1;}
}

@keyframes zoom-in {
    from { opacity: 0; transform: scale(0); }
    to { opacity: 1; transform: scale(1);}
}

@keyframes zoom-out {
    from { opacity: 0; transform: scale(2); }
    to { opacity: 1; transform: scale(1);}
}

@keyframes slide-left {
    from { transform: translateX(-100vw); }
    to { transform: translateX(0); }
}

@keyframes slide-right {
    from { transform: translateX(100vw); }
    to { transform: translateX(0); }
}

@keyframes slide-up {
    from { transform: translateY(-100vh); }
    to { transform: translateX(0); }
}

@keyframes slide-down {
    from { transform: translateY(100vh); }
    to { transform: translateX(0); }
}

/* ==================  / Transitions ===================== */



@keyframes flash {
    35% {
        text-shadow: 0 0 15px yellow, 0 0 30px white;
    }
}

@keyframes circle-in {
    0% {     
        clip-path: circle(0 at 40% 40%);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    100% {
        clip-path: circle(60vw at 50% 50%);
    }
}

@keyframes advance {
    0%      { transform: scaleX(0); }
    100%    { transform: scaleX(1); }
}

@font-face {
    font-family: 'Num';
    src: url('num.ttf');
}

@font-face {
    font-family: 'font';
    src: url(num.ttf);
    font-weight: 900;
}


.effect {
    animation: flash 1.3s ease !important;
}

