body {
    &.vertical {
        #guardias {
            font-size: 4vw;
        }
    }
    &.horizontalFull {
        #guardias {
            font-size: 3.4vw;
        }
    }
}

#guardias {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    > .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: rgba(0,0,0,.6);
        backdrop-filter: blur(5px);
        width: 100%;
        color: #fff;
        padding: 0.3em 3em;
        box-sizing: border-box;
        border-width: 0 0 .3em 0;
        border-style: solid;
        border-image: linear-gradient(to right,#fff,#ffffff00) 100%;
        border-image-slice: 1;
        font-size: .4em;

        > .infoGuardias {
            font-size: 1.2em;
            display: flex;
            flex-direction: column;
            place-items: center;

            >#hora { font-size: 1.8em; }
        }
    }

    > ul#guardiasList {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        display: flex;
        font-size: .6em;
        font-weight: normal;
        width: 95%;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;

        &[data-count="1"], &[data-count="2"] { 
            > li { height: 6em; }
        }

        &[data-count="3"], &[data-count="4"] {
            > li { height: 5em; }
        }

        &[data-count="5"], &[data-count="6"]{
            > li { 
                height: 4.5em;
            }
        }
        &[data-count="7"] {
            > li { 
                height: 4em;
                font-size: 0.9em;
            }
        }
        &[data-count="8"] {
            > li { 
                height: 3.6em;
                font-size: 0.9em;
            }
        }
        &[data-count="9"] {
            > li { 
                height: 3.6em;
                font-size: .8em;
            }
        }

        > li {
            border-radius: 1em 0em 0em 1em;
            margin: 0;
            padding: 0;
            box-shadow: 0em 0.25em 0.4em 0 rgb(0 0 0 / 50%);
            display: flex;
            flex-direction: row;
            overflow: hidden;
            position: relative;

            > .nameBlock {
                flex-basis: 25%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: .4em;
                color: white;
                text-align: center;

                >.name {
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                }
            }

            > .addressBlock {
                flex-basis: 56%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 0.3em 0.5em;

                >.address { flex-grow: 1; text-align: center; }
                >.qr {
                    height: 100%;
                    aspect-ratio: 1/1;
                    margin-left: .5em;
                    > canvas { width: 100%; height: 100%; }
                }
            }

            > hr {
                border: none;
                flex-basis: 2px;
                height: 0;
            }

            > .detailsBlock {
                flex-basis: 19%;
                padding: .5em .4em;
                text-align: center;
                justify-content: center;
                display: flex;
                flex-direction: column;

                >.phone { flex: 1; }
                >.type { 
                    color: white;
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                } 
            }

            &.normal {
                > .nameBlock { background-color: #033d03; }
                > *:not(.nameBlock) {
                    background: linear-gradient(to bottom, #e9ffe6, white);
                }
                .type { background-color: #0a7b0a; }
            }
            &.refuerzo {
                > .nameBlock { background-color: #634604; }
                > *:not(.nameBlock) {
                    background: linear-gradient(to bottom, #fff8e6, white);
                }
                .type { background-color: #f5b800; }
            }
        }
    }
}